<!-- Component: TABLE -->

{% set table_id = generate_uuid() %}

<table class="table table-striped table-bordered" id="{{ table_id }}">
  <thead>
    <tr>
      {% for column in columns %}
      <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
      {% for col in row %}
      <td>
        {% if col is mapping and 'track' in col %}
        <a href="/track/{{ col.track }}">
          <img
            height="32"
            width="32"
            src="/res/loader.gif"
            alt="Loading..."
            data-cover="{{ col.track }}"
          />
          {{ col.name }}
        </a>
        {% elif col is mapping and 'artist' in col %}
        <a href="/artist?from_track={{ col.artist }}">
          <img
            height="32"
            width="32"
            src="/res/loader.gif"
            alt="Loading..."
            data-cover-artist="{{ col.artist }}"
          />{{ col.name }}</a
        >
        {% else %} {{ col }} {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  loadTableData("#{{ table_id }}");
</script>
