<div class="d-flex flex-row justify-content-between">
  <h2>Insights</h2>
  <div class="button-row">
    {% for y in years %}
    <a href="?from={{ y }}-01-01T00:00:00Z&to={{ y }}-12-31T23:59:59Z">
      <button class="btn btn-primary me-2 {% if y == year %}active{% endif %}">
        {{ y }}
      </button>
    </a>
    {% endfor %}
  </div>
</div>

{% if year %}
<h3>Spotify Report for year {{ year }}</h3>

{% else %}
<h3>Spotify Report from {{ f }} to {{ t }}</h3>

{% endif %}

<p>
  There have been {{ count }} different tracks played. Total playtime is {{
  playtime }}.
</p>

<h4>Top {{ tc }} tracks by playcount {% if year %} - {{ year }}{% endif %}</h4>

<div data-table="ttrackplaycount">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img
      src="/res/loader.gif"
      height="64"
      width="64"
      class=""
      alt="Loading..."
    />
    <div>Loading...</div>
  </div>
</div>

<h4>Top {{ tc }} tracks by playtime {% if year %} - {{ year }}{% endif %}</h4>

<div data-table="ttrackplaytime">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img
      src="/res/loader.gif"
      height="64"
      width="64"
      class=""
      alt="Loading..."
    />
    <div>Loading...</div>
  </div>
</div>

<h4>Top {{ tc }} artists by playcount {% if year %} - {{ year }}{% endif %}</h4>

<div data-table="tartistplaycount">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img
      src="/res/loader.gif"
      height="64"
      width="64"
      class=""
      alt="Loading..."
    />
    <div>Loading...</div>
  </div>
</div>

<h4>Top {{ tc }} artists by playtime {% if year %} - {{ year }}{% endif %}</h4>

<div data-table="tartistplaytime">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img
      src="/res/loader.gif"
      height="64"
      width="64"
      class=""
      alt="Loading..."
    />
    <div>Loading...</div>
  </div>
</div>

<script>
  $(document).ready(() => {
    const sep = window.location.href.includes("?") ? "&" : "?";
    $("[data-table]").each(function () {
      const table = $(this).data("table");
      loadcontent(
        window.location.href + sep + "table=" + table,
        $(this),
        "Loading..."
      );
    });
  });
</script>
