<div class="d-flex flex-row justify-content-between">
  <h2>Search</h2>
  <div class="button-row">
    {% for y in years %}
    <a
      data-year="{{ y }}"
      href="?from={{ y }}-01-01T00:00:00Z&to={{ y }}-12-31T23:59:59Z&query={{ query }}"
    >
      <button class="btn btn-primary me-2 {% if y == year %}active{% endif %}">
        {{ y }}
      </button>
    </a>
    {% endfor %}
  </div>
</div>

<form
  action="{{ base_url }}/search"
  method="get"
  class="form-group"
  id="search-form"
>
  <input
    type="text"
    id="query"
    name="query"
    class="form-control"
    required
    autocomplete="false"
    value="{{ query }}"
  />

  <input type="hidden" name="from" value="{{ f }}" />
  <input type="hidden" name="to" value="{{ t }}" />

  <button type="submit" class="btn btn-primary mt-2">Search</button>
</form>

<div id="results">
  <div class="d-flex justify-content-center flex-column align-items-center">
    <img
      src="{{ base_url }}/res/loader.gif"
      height="64"
      width="64"
      class=""
      alt="Loading..."
    />
    <div>Loading search results...</div>
  </div>
</div>

<script>
  $(document).ready(() => {
    const sep = window.location.href.includes("?") ? "&" : "?";
    loadcontent(
      window.location.href + sep + "fetchtable",
      "#results",
      "Loading search results..."
    );
  });

  $("#search-form").submit((e) => {
    e.preventDefault();
    const query = document.getElementById("query").value;
    const from = document.querySelector('input[name="from"]').value;
    const to = document.querySelector('input[name="to"]').value;

    const url = `{{ base_url }}/search?query=${query}&from=${from}&to=${to}&fetchtable`;
    loadcontent(url, "#results", "Loading search results...");

    // update years button
    $("[data-year]").each((i, el) => {
      const year = el.getAttribute("data-year");
      const href = `?from=${year}-01-01T00:00:00Z&to=${year}-12-31T23:59:59Z&query=${query}`;
      el.setAttribute("href", href);
    });
    // update URL
    const qs = new URLSearchParams(window.location.search);
    qs.set("query", query);
    window.history.replaceState("", "", `?${qs.toString()}`);

    return false;
  });
</script>
